.chat {
    background-color: #18171D;
    width: 70%;
    overflow: hidden;
}

.chatImage {
    width: 70%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.header {
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: #18171D;
    border-bottom: 3px solid #23222A;
}

.headerInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.profileImg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.details {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details h3 {
    font-size: 18px;
    color: white;
}

.details p {
    font-size: 12px;
    color: grey;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}

.headerRight i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.chatBody {
    height: calc(100% - 160px);
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    padding: 20px;
}

.chatBody::-webkit-scrollbar {
    width: 10px;
}

.chatBody::-webkit-scrollbar-thumb {
    background-color: #3c3a44;
    border-radius: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(70% - 50px);
    padding: 10px;
    background-color: #18171D;
    border-top: 3px solid #23222A;
}

.footer form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 0 10px;
}

.footer .input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
}


.attachFile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.text {
    width: calc(100% - 95px);
    border: 2px solid #1D252F;
    border-radius: 15px;
    padding: 10px 10px 10px 60px;
    font-size: 16px;
    height: 50px;
    max-height: 120px;
    /* Optional: ~5 lines limit */
    outline: none;
    background-color: #1C1C24;
    color: white;
    resize: none;
    overflow-y: auto;
}


.text::-webkit-scrollbar {
    display: none;
}


.text::placeholder {
    color: white;
    left: 60px;
    position: absolute;
}

.input span {
    position: absolute;
    left: 20px;
    top: 12px;
}

.input img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.footerProfile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.file {
    display: none;
}

.footerIcons {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    height: auto;
    padding-bottom: 10px;
}


.sendButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sep {
    width: 3px;
    border-radius: 4px;
    height: 30px;
    background-color: #29313d;
}

/* Chat.module.css */

.message {
    width: 100%;
}

.message div {
    padding: 5px 10px;
    margin: 2px 5px;
    min-width: 150px;
    max-width: 70%;
    word-wrap: break-word;
    word-break: break-word;
    background-color: #f1f1f1;
    position: relative;
    padding-right: 70px;
}

.newMessageLabel {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    color: gray;
}

.newMessageLabel span {
    color: gray;
    font-size: 14px;
    background: #2e2a41;
    padding: 7px 10px;
    border-radius: 20px;
}


.messageContent {
    font-size: 15px;
}

.timestamp {
    height: 20px;
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    color: rgb(225, 225, 225);
    position: absolute;
    bottom: 5px;
    right: 35px;
}

.singleTick {
    height: 20px;
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    position: absolute;
    right: 15px;
    bottom: 7px;
    color: white;
    cursor: pointer;
}

.right div {
    background-color: #0091ae;
    align-self: flex-end;
    border-radius: 10px;
}

.right.firstMessage div {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.right.firstMessage div::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #0091ae;
    top: 0;
    right: -15px;
}

.right.firstMessage div::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #18171D;
    top: 0;
    right: -15px;
    border-top-left-radius: 12px;
}


.left.firstMessage div {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.left.firstMessage div::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #21212F;
    top: 0;
    left: -15px;
}

.left.firstMessage div::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #18171D;
    top: 0;
    left: -15px;
    border-top-right-radius: 12px;
}

.right {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.left {
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.left div {
    background-color: #21212F;
    align-self: flex-start;
    border-radius: 10px;
}

.imageMessage div {
    padding: 3px !important;
    width: 309px;
    height: 309px;
}

.chatFile {
    margin: 1px;
    max-width: 309px !important;
    width: 309px !important;
    max-height: 155px !important;
    padding: 3px !important;
    position: relative;
}

.chatFile .fileDetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100%) !important;
    max-width: calc(100%) !important;
    max-height: 90%;
    height: 90% !important;
    padding: 15px 10px !important;
    box-sizing: border-box;
    margin: 0 !important;
    margin-bottom: 20px !important;
}

.chatFile .fileDetails .fileLeft {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    background: transparent !important;
}

.fileDetails i {
    position: static !important;
    font-size: 40px !important;
}

.fileDetails a i {
    position: static !important;
    font-size: 20px !important;
    margin-top: 10px;
    color: white;
}


.chatFile .fileDetails .aboutFile {
    background: transparent;
    padding: 0 !important;
    margin: 0 !important;
}

.right .chatFile .fileDetails {
    background-color: #006377;
}

.left .chatFile .fileDetails {
    background-color: #191923;
}

.imageMessage div .filesContent {
    display: grid;
    max-width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.5px;
    padding: 0 !important;
    margin-top: 5px;
    padding-right: 0 !important;
    margin: 0 !important;
}

.imageMessage div .filesContent .fileWrapper {
    max-width: 150px;
    max-height: 150px;
    word-break: break-word;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

.imageMessage div .filesContent .fileWrapper .chatImage {
    max-width: 100%;
    max-height: 100%;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin: 0 !important;
    object-fit: cover;
}

.imageMessage div .files1 .fileWrapper .chatImage {
    width: 100%;
    height: 100%;

}

/* Container remains square */
.imageMessage div .filesContent {
    width: 303px;
    height: 303px;
    display: grid;
    gap: 1.5px;
    padding: 0 !important;
    margin: 0 !important;
}

/* One file: full area */

.imageMessage div .files1 {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.imageMessage div .files1 .fileWrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.imageMessage div .files2 {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}

.imageMessage div .files2 .fileWrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.imageMessage div .filesmore {
    width: 100%;
    height: 100%;
}

.imageMessage div .filesmore .fileWrapper:nth-of-type(n + 5) {
    display: none;
}

.imageMessage div .filesmore .fileWrapper:nth-child(4) {
    content: "";
    position: relative;
}

.imageMessage div .filesmore .fileWrapper:nth-child(4)::after {
    content: "";
    position: absolute;
    background-color: #444444;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    opacity: 0.6;
}

.moreImages {
    position: absolute;
    bottom: 60px;
    right: 60px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imageMessage div .files2 .fileWrapper .chatImage {
    width: 100%;
    height: 100%;
}


/* Individual file box */
.fileWrapper {
    width: 100%;
    height: 100%;
}

/* Image styling */
.chatImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.filename {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.fileSize {
    font-size: 12px;
    color: gray;
    margin: 0;
}


@media screen and (max-width:760px) {

    .chat {
        width: 100%;
    }

    .chatOpen {
        display: block;
    }

    .chatClose {
        display: none;
    }


    .header {
        height: 65px;
    }

    .profileImg img {
        width: 30px;
        height: 30px;
    }

    .details h3 {
        font-size: 15px;
    }

    .details p {
        font-size: 10px;
    }

    .headerRight a i {
        font-size: 14px;
    }

    .footer {
        padding: 5px;
    }

    .footerProfile {
        width: 30px;
        height: 30px;
    }

    .text {
        padding: 5px;
        padding-left: 40px;
        font-size: 13px;
        min-height: 100%;
        width: calc(100% - 70px);
        border-radius: 35px;
    }

    .footerIcons {
        height: 40px;
    }

    .text::placeholder {
        left: 40px;
    }

    .footer .input {
        height: 40px;
    }

    .input span {
        left: 15px;
        top: 15%;
    }

    .input img {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 600px) {

    .chat {
        width: calc(100% - 60px);
    }

    .chatOpen {
        display: block;
    }

    .chatClose {
        display: none;
    }

}

@media screen and (max-width: 450px) {

    .footer form {
        gap: 5px;
        margin: 0 5px;
    }

    .footerIcons {
        gap: 7px;
    }

    .text {
        width: calc(100% - 55px);
    }
}